[submodule "pack/bundle/start/vim-sneak"]
	path = pack/bundle/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "pack/bundle/start/vim-easymotion"]
	path = pack/bundle/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
