[submodule "pack/bundle/start/vim-easymotion"]
	path = pack/bundle/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "neovim"]
	path = neovim
	url = https://github.com/neovim/neovim
[submodule "pack/bundle/start/vim-vinegar"]
	path = pack/bundle/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git/
[submodule "pack/bundle/start/vim-indentwise"]
	path = pack/bundle/start/vim-indentwise
	url = https://github.com/jeetsukumaran/vim-indentwise
[submodule "pack/bundle/start/colorizer"]
	path = pack/bundle/start/colorizer
	url = https://github.com/chrisbra/Colorizer
