[submodule "bundle/vim-sneak"]
	path = bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "bundle/vim-colemak"]
	path = bundle/vim-colemak
	url = https://github.com/jooize/vim-colemak
